<section class="hero-contact" id="hero">
  <div class="containers">
    <h5 class="sub-heading mt-5" style="font-size: 2rem;">
      Na Kontaktoni | Контактирајте не | Contact Us
    </h5>
  </div>
</section>


<div class="container">
  <div class="row">
    <div class="col-sm text-center">
      <h1 class="text-center my-5" style="font-size: 2.5rem; font-weight: bold">Contact US</h1>
      <h2 class="sub-heading mt-5">
        <%= image_tag "Logo.png", class: "logo" %>
      </h2>
    </div>
  </div>
    <div class="row my-5">
      <div  class="col-md-6">
        <h5>Address: <small class="text-muted">Skopje - Saraj</small></h5>
        <h5>Email: <small class="text-muted">demokraijakomerc@gmail.com</small></h5>
        <h5>Contact: <small class="text-muted">(+389-70-278-105) - (+389-71-278-105)</small></h5>
      </div>
    </div>
  </div>
</div>